/* din pro bold */

@font-face {
  font-family: 'FF DIN';
  src: local('FF DIN Pro Bold'), local('FF-DIN-Pro-Bold'), url('../fonts/DINPro-Bold.woff2') format('woff2'), url('../fonts/DINPro-Bold.woff') format('woff'), url('../fonts/DINPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* DIN PRO MEDIUM */

@font-face {
  font-family: 'DIN Pro';
  src: local('DIN Pro Medium'), local('DIN-Pro-Medium'), url('../fonts/DINPro-Medium.woff2') format('woff2'), url('../fonts/DINPro-Medium.woff') format('woff'), url('../fonts/DINPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Regular */

@font-face {
  font-family: 'FF DIN reg';
  src: local('FF DIN Pro Regular'), local('FF-DIN-Pro-Regular'), url('../fonts/DINPro.woff2') format('woff2'), url('../DINPro.woff') format('woff'), url('DINPro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/*  PFDinTextPro-Medium */

@font-face {
  font-family: 'PFDinTextPro-Medium';
  font-style: normal;
  font-weight: normal;
  src: local('PFDinTextPro-Medium'), url('../fonts/PFDinTextPro-Medium.woff') format('woff');
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'FF DIN';
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  color: #282828;
}

.header {
  background: #f8f8f8;
  padding-bottom: 74px;
  padding-top: 82px;
}

.header__wrapper {
  max-width: 1240px;
  margin: 0 auto;
}

.header__title {
  max-width: 629px;
  color: #282828;
  text-align: center;
  margin: 0 auto;
  font-size: 45px;
  margin-bottom: 69px;
  line-height: 55px;
}

.header__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__box {
  max-width: 557px;
  max-height: 293px;
  background-color: #e6e6e6;
  border-radius: calc(293px/2);
}

.box__thumb {
  max-width: 100%;
}

.header__desc {
  max-width: 350px;
  font-family: 'PFDinTextPro-Medium';
  font-size: 30px;
  font-weight: normal;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.15px;
  color: rgba(40, 40, 40, 0.6);
  margin: 0 auto;
}

.team {
  background: url(../img/intro-bg.png) no-repeat center/cover;
  padding-top: 140px;
  padding-bottom: 100px;
}

.team__wrapper {
  max-width: 1770px;
  padding: 0 15px;
  margin: 0 auto;
}

.developers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 110px;
}

.developers__title {
  color: #282828;
  font-size: 70px;
  flex-basis: 370px;
}

.developers__leader {
  flex-basis: 778px;
  position: relative;
}

.developers__leader::before {
  content: '';
  background: url(../img/evangelist.png);
  width: 526px;
  height: 722px;
  position: absolute;
  top: -30px;
  left: -468px;
  z-index: 1;
}

.leader__case {
  flex-basis: 778px;
}

.leader__case-title {
  font-size: 32px;
  margin-bottom: 50px;
}

.leader__case-subtitle {
  font-family: 'DIN Pro';
  font-size: 31px;
  font-weight: 500;
  color: rgba(40, 40, 40, 0.6);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.events-list-item {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.events-list-item:first-child {
  margin-bottom: 22px;
  padding: 0;
  max-width: 294px;
}

.events-list-item:last-child {
  margin: 0;
}

.events-list-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: url(../img/list_style.png) no-repeat left center;
}

.events-list-item:first-child::before {
  display: none;
}

.case__company p:first-child {
  margin-bottom: 28px;
}

.case__company a {
  display: block;
  text-decoration: none;
}

.k__50-link {
  margin-bottom: 70px;
}

.case__company p:last-of-type {
  margin-bottom: 10px;
}

.case__company a:nth-child(4) {
  float: left;
  margin-right: 40px;
}

.methods {
  position: relative;
  background: linear-gradient(to right, #f8f8f8 75%, transparent);
  z-index: 2;
  padding-top: 50px;
  padding-left: 76px;
  padding-bottom: 86px;
  max-width: 1531px;
  margin-right: 400px;
}

.methods__title {
  font-size: 32px;
  margin-bottom: 40px;
}

.methods__lists {
  font-family: 'DIN Pro';
  font-size: 31px;
  color: rgba(40, 40, 40, 0.6);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 670px;
}

.methods__list {
  flex-basis: 310px;
}

.method__list-item {
  line-height: 42px;
  margin-bottom: 31px;
  position: relative;
  padding-left: 20px;
}

.method__list-item:last-child {
  margin: 0;
}

.method__list-item::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../img/list_style.png) no-repeat center left;
}

.methods__list:first-child li:nth-child(2)::before {
  background-position: left 20px;
}

.wrapp__full {
  margin: 0 auto;
  max-width: 2020px;
  position: relative;
}

.team__pct {
  position: absolute;
  right: 0;
  bottom: -100px;
  z-index: 5;
}

@media screen and (max-width: 1600px) {
  .header__blocks {
    justify-content: space-around;
  }
  .team {
    padding-top: 50px;
  }
  .developers__title {
    font-size: 45px;
    margin-bottom: 20px;
  }
  .developers {
    display: block;
  }
  .developers__leader::before {
    display: none;
  }
  .leader__case {
    display: block;
  }
  .leader__case-title {
    margin-bottom: 25px;
  }
  .case__company {
    position: relative;
  }
  .case__company::before {
    content: '';
    background: url(../img/evangelist.png);
    width: 526px;
    height: 722px;
    position: absolute;
    top: 0;
    left: -390px;
    z-index: 1;
  }
  .team__pct {
    display: none;
  }
  .methods {
    background-color: #f8f8f8;
    max-width: 100%;
    margin: 0;
    background: #f8f8f8 url(../img/people.png) bottom right/34% no-repeat;
    padding-left: 30px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header__block:first-child {
    margin-bottom: 30px;
  }
  .header__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .header__blocks {
    display: block;
    width: 100%;
    height: auto;
  }
  .header__box {
    max-width: 100%;
    max-height: auto;
    text-align: center;
  }
  .developers__title {
    font-size: 30px;
  }
  .leader__case-title {
    font-size: 20px;
  }
  .leader__case-subtitle {
    font-size: 18px;
  }
  .case__company::before {
    width: 300px;
    height: 500px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: -292px;
  }
  .k__50-link {
    margin-bottom: 20px;
  }
  .methods {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f8f8f8 url(../img/people.png) bottom right/48% no-repeat;
  }
  .methods__title {
    font-size: 20px;
  }
  .methods__lists {
    font-size: 18px;
    display: block;
    max-width: 100%;
  }
  .method__list-item {
    margin-bottom: 18px;
    line-height: 20px;
  }
  .methods__list {
    margin-bottom: 18px;
  }
  .methods__list:last-child {
    margin: 0;
  }
  .methods__list:first-child li:nth-child(2)::before {
    background: url(../img/list_style.png) no-repeat center left;
  }
}

@media screen and (max-width: 767px) {
  .developers {
    margin-bottom: 30px;
  }
  .case__company::before {
    display: none;
  }
  .leader__case-subtitle {
    align-content: center;
    flex-direction: column;
  }
  .developers__title {
    text-align: center;
  }
  .leader__case-title {
    text-align: center;
  }
  .events__case-list {
    margin-bottom: 20px;
  }
  .methods {
    background-image: none;
  }
}

.modal {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__block {
  width: 67vw;
  background: url(../img/bg_modal.png) no-repeat center/cover;
  opacity: 1;
  box-shadow: -1px 55px 39px -22px rgba(0, 0, 0, 0.51);
  border-radius: 14px;
  display: flex;
  justify-content: flex-end;
  padding-top: 5.5vw;
  padding-right: 6vw;
  padding-bottom: 5.5vw;
}

.block__content {
  width: 50%;
}

.block__title {
  font-size: 2vw;
  color: #fff;
  line-height: 1.4;
}

.block__subtitle {
  max-width: 80%;
  color: rgba(254, 254, 254, 0.4);
  font-size: 1.4707vw;
  line-height: 1.4;
  margin-bottom: 1.5vw;
}

.modal__button {
  padding: 1.4vw 2.8vw;
  font-family: 'PFDinTextPro-Medium';
  font-size: 1.4707vw;
  font-weight: normal;
  border-radius: 68px;
  border-style: none;
  color: #2200ff;
}