/* din pro bold */

@font-face {
  font-family: 'FF DIN';
  src: local('FF DIN Pro Bold'), local('FF-DIN-Pro-Bold'), url('../fonts/DINPro-Bold.woff2') format('woff2'), url('../fonts/DINPro-Bold.woff') format('woff'), url('../fonts/DINPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* DIN PRO MEDIUM */

@font-face {
  font-family: 'DIN Pro';
  src: local('DIN Pro Medium'), local('DIN-Pro-Medium'), url('../fonts/DINPro-Medium.woff2') format('woff2'), url('../fonts/DINPro-Medium.woff') format('woff'), url('../fonts/DINPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Regular */

@font-face {
  font-family: 'FF DIN reg';
  src: local('FF DIN Pro Regular'), local('FF-DIN-Pro-Regular'), url('../fonts/DINPro.woff2') format('woff2'), url('../DINPro.woff') format('woff'), url('DINPro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/*  PFDinTextPro-Medium */

@font-face {
  font-family: 'PFDinTextPro-Medium';
  font-style: normal;
  font-weight: normal;
  src: local('PFDinTextPro-Medium'), url('../fonts/PFDinTextPro-Medium.woff') format('woff');
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'FF DIN';
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  color: #282828;
}

.header {
  background: #f8f8f8;
  padding-bottom: 74px;
  padding-top: 82px;
}

.header__wrapper {
  max-width: 1240px;
  margin: 0 auto;
}

.header__title {
  max-width: 629px;
  color: #282828;
  text-align: center;
  margin: 0 auto;
  font-size: 45px;
  margin-bottom: 69px;
  line-height: 55px;
}

.header__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__box {
  width: 557px;
  height: 293px;
  background-color: rgba(40, 40, 40, 0.6);
  border-radius: calc(293px/2);
}

.box__video {
  background-image: url(../img/video_lesson.png);
  background-repeat: no-repeat;
  background-position: center 62px;
}

.box__diary {
  background-image: url(../img/diary.png);
  background-repeat: no-repeat;
  background-position: center 62px;
}

.header__desc {
  max-width: 350px;
  font-family: 'PFDinTextPro-Medium';
  font-size: 30px;
  font-weight: normal;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.15px;
  color: rgba(40, 40, 40, 0.6);
  margin: 0 auto;
}
.team {
  background: url(../img/intro-bg.png) no-repeat center/cover;
  padding-top: 140px;
}
.team__wrapper {
  max-width: 1770px;
  padding: 0 15px;
  margin: 0 auto;
}
.developers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}
.developers__title {
  color: #282828;
  font-size: 70px;
  flex-basis: 370px;
}
.developers__leader {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 778px;
  justify-content: space-between;
  position: relative;
 
}
.developers__leader::before {
  content: url(../img/evangelist.png);
  display: block;
  width: 526px;
  position: absolute;
  top: 0;
  left: -600px;
  z-index: 1;
}
.leader__case {
  flex-basis: 778px;
}
.leader__case-title {
  font-size: 32px;
  margin-bottom: 65px;
}
.leader__case-subtitle {
  font-family: 'DIN Pro';
  font-size: 31px;
  font-weight: 500;
  color: rgba(40, 40, 40, 0.6);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.events-list-item {
  margin-bottom: 24px;
  position: relative;
  padding-left: 20px;
}
.events-list-item:first-child {
  margin-bottom: 40px;
  padding: 0;
  max-width: 294px;
}
.events-list-item:last-child {
  margin: 0;
}

.events-list-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 9px;
  height: 100%;
  background: url(../img/list_style.png) no-repeat left center;
}
.events-list-item:first-child::before {
  display: none;
}
.case__company p:first-child {
  margin-bottom: 28px;
}
.case__company a {
  display: block;
  text-decoration: none;
}
.k__50-link {
  margin-bottom: 70px;
}
.case__company p:last-of-type {
  margin-bottom: 10px;
}
.case__company a:nth-child(4)  {
  float: left;
  margin-right: 40px;
}
.methods {
position: relative;
background: linear-gradient(to right, #f8f8f8 50%, transparent);
z-index: 2;
padding-top: 70px;
padding-left: 86px;
padding-bottom: 86px;
max-width: 1605px;
}
.methods__title {
  font-size: 32px;
  margin-bottom: 40px;
}
.methods__lists {
  font-family: 'DIN Pro';
  font-size: 31px;
  color:rgba(40, 40, 40, 0.6);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 720px;
}
.methods__list {
  flex-basis: 340px;
}
.method__list-item {
  line-height: 42px;
  margin-bottom: 31px;
  position: relative;
  padding-left: 20px;
}
.method__list-item:last-child {
  margin: 0;
}
.method__list-item::before {
  content: '';
  position: absolute;
  width: 9px;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../img/list_style.png) no-repeat center left;
}
.methods__list:first-child li:nth-child(2)::before {
  background-position: left 20px;
}
