/* din pro bold */
@font-face {
    font-family: 'FF DIN';
    src: local('FF DIN Pro Bold'), local('FF-DIN-Pro-Bold'),
        url('../fonts/DINPro-Bold.woff2') format('woff2'),
        url('../fonts/DINPro-Bold.woff') format('woff'),
        url('../fonts/DINPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

/* DIN PRO MEDIUM */
@font-face {
    font-family: 'DIN Pro';
    src: local('DIN Pro Medium'), local('DIN-Pro-Medium'),
        url('../fonts/DINPro-Medium.woff2') format('woff2'),
        url('../fonts/DINPro-Medium.woff') format('woff'),
        url('../fonts/DINPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'FF DIN';
    src: local('FF DIN Pro Regular'), local('FF-DIN-Pro-Regular'),
        url('../fonts/DINPro.woff2') format('woff2'),
        url('../DINPro.woff') format('woff'),
        url('DINPro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }


html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}
.header {
    background: #f8f8f8;
}
.header__wrapper {
    max-width: 1025px;
    margin: 0 auto;
    text-align: center;
}

.header__title {
    font-family: 'DINPro-Bold';
    max-width: 625px;
    text-align: center;
    margin: 0 auto;
    font-size: 45px;
}